body {
    background-image: url("../images/crystalHD.jpg");
}

div {
    /* background: white; */
    margin-top: 20px;
}

.page-header, .jumbotron, .gems {
    padding-top: 5px;
    /* opacity: .55; */
    background:rgba(255,255,255, 0.5);
    color: black;
    font-family: 'Cinzel', serif;
}

#instructions {
    font-size: 10px;
}

.gems {
    padding-bottom: 25px;
}

#purpleGem, #greenGem, #redGem, #blueGem {
    height: 120px;
    width: 100px;
}

