body {
    background-image: url("../images/crystalHD.jpg");
}

div {
    /* background: white; */
    margin-top: 20px;
}

.page-header, .jumbotron, .gems, #pageFooter {
    padding-top: 5px;
    /* opacity: .55; */
    background:rgba(255,255,255, 0.5);
    color: black;
    font-family: 'Cinzel', serif;
}

.jumbotron {
    font-family: 'Chango', cursive;
}

.gems {
    padding-bottom: 25px;
}

#purpleGem, #greenGem, #redGem, #blueGem {
    height: 100px;
    width: 80px;
}

#numberWins {
    padding-right: 30px;
}

#numberLosses {
    padding-left: 30px;
}

.bigNumber {
    font-size: xx-large;
}

.container {
    background:rgba(255,255,255, 0.5);
    color: black;
}

#pageFooter {
    margin-top: 0;
    font-family: 'Rubik Mono One', sans-serif;
}