body {
    background-image: url("../images/diamondsFalling_background.jpg");
}

div {
    background: white;
    margin-top: 20px;
}

#silverGem, #greenGem, #redGem, #blueGem {
    height: 100px;
    width: 100px;
}
